@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Tutorial Case

   Style Sheet for Grids used in the Pandaisia Chocolates website
   Author: Mark Hall
   Date:   05/30/2019

   Filename: pc_grids.css

*/


/* Grid Rows Styles */
div.row {
  clear: both;
}

div.row::after {
  clear: both;
  content: "";
  display: table;
}


/* Grid Columns Styles */
div[class^="col-"] {
  float: left;
}

.col-1-1 {
  width: 100%;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33%;
}

.col-2-3 {
  width: 66%;
}

.col-1-4 {
  width: 25%;
}

.col-3-4 {
  width: 75%;
}

/* Grid Outline Styles */
div {
  outline: 1px solid red;
}
